header {
  height: 50px;
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.header-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title > a {
  font-size: 20px;
  font-family: "Courgette", cursive;
}

.header-title > a > span {
  color: red;
  font-size: 20px;
}

.header-navis {
  position: relative;
  height: 24px;
  width: 24px;
}

.header-bar1, 
.header-bar2 {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transform: rotate(0);
  transform-origin: center center;
}

.header-bar1 {
  z-index: 1;
}

.header-bar2 {
  opacity: 0;
  z-index: 0;
}

.header-bar1.rotate {
  transform: rotate(-90deg);
  opacity: 0;
  z-index: 0;
}

.header-bar2.open {
  transition: opacity 1s;
  transition-delay: .3s;
  transition-timing-function: ease-in;
  opacity: 1;
  z-index: 1;
}

.header-bar1:hover,
.header-bar2:hover {
  color: red;
}

.header-navi {
  background-color: black;
  border-radius: 0 0 0 5px;
  list-style: none;
  width: 230px;
  padding-right: 20px;
  position: absolute;
  top: 38px;
  right: -20px;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.header-navi.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(200px);
  transition: all 1s;
}

.header-navi > li {
  height: 30px;
}

.header-navi > li > a {
  font-size: 17px;
}

.header-navi > li > a:hover {
  color: red;
}

.header-navi > li > a > span {
  padding-bottom: 4px;
  vertical-align: middle;
}
