<header>
  <div class="header-wrapper">
    <div class="header-title">
      <a
      routerLink="/"
      class="font-l"
      >{{title}}<span>.</span></a>
    </div>
<!-- 
    <div class="header-navis">
      <span class="material-icons header-bar1 font-xl"
      [class.rotate]="!isBar" 
      (click)="onClickNavi()">drag_handle
      </span>

      <span class="material-icons header-bar2 font-xl"
      [class.open]="!isBar" 
      (click)="onClickNavi()">clear
      </span>
      

      <ul class="header-navi" [class.hidden]="isNavi">
        <li *ngFor="let n of headerNavi" class="pb-10">
          <a href="{{n.link}}"
          class="font-m material-icons"
          title="{{n.icon}}">
            {{n.title}}
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</header>